<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
		background-color: #2d2e53;
}
table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
		color: #f5f5fa;
}

th, td {
		text-align: left;
		padding: 16px;
}

tr:nth-child(even) {
		background-color: #505395;
}
tr:nth-child(odd) {
		background-color: #7a7cb8;
}
</style>
<script>
CountDownTimer('08/03/2021 10:0 AM', 'Computer Security');
CountDownTimer('07/26/2021 8:0 AM', 'Privacy');

function CountDownTimer(dt, id){
		var end = new Date(dt);
		var _second = 1000;
		var _minute = _second * 60;
		var _hour = _minute * 60;
		var _day = _hour * 24;
		var timer;
		function showRemaining() {
				var now = new Date();
				var distance = end - now;
				if (distance < 0) {
						clearInterval(timer);
						document.getElementById(id).innerHTML = 'EXPIRED!';
						return;
				}
				var days = Math.floor(distance / _day);
				var hours = Math.floor((distance % _day) / _hour);
				var minutes = Math.floor((distance % _hour) / _minute);
				var seconds = Math.floor((distance % _minute) / _second);
				document.getElementById(id).innerHTML = days + ':';
				document.getElementById(id).innerHTML += hours + ':';
				document.getElementById(id).innerHTML += minutes + ':';
				document.getElementById(id).innerHTML += seconds;
		}
		timer = setInterval(showRemaining, 1000);
}
</script>
<table style="width:100%">
		<tr> <th><h1><u>Module</u></h1></th> <th><h1><u>Date</u></h1></th><th><h1><u></u></h1></th></tr>
		<tr><td><h1>CS4451</h1></td><td><h2>26.07.2021</h2></td><td><h2><div id="Privacy"></h2></div></td></tr>
		<tr><td><h1>CS4702</h1></td><td><h2>03.08.2021</h2></td><td><h2><div id="Computer Security"></h2></div></td></tr>
</table>
