body {
    background-color: #002b36;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid {
    width: 90%;
    height: 60%;
    background-color: #002b36;
    align-items: center;
    align-content: center;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #2aa198;
    width: 200px;
    font-size: 350%;
    color: #002b36;
    border: 3px solid #268bd2;
    margin: 10px 40px 10px 0px;
    padding: 20px 20px;
}

#x0y0, #x0y1, #x1y0, #x1y1 {
    background-color: #002b36;
    width: 50px;
    font-size: 350%;
    color: #b58900;
    text-shadow: 3px 2px #cb4b16;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    border: 3px solid #002b36;
    background-color: #cb4b16;
}

.container {
    width: 70%;
}

#status, #streak {
    color: #6c71c4;
    text-shadow: 3px 2px #d33682;
    font-size: 1000%;
    text-align: center;
}