.center-screen {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 100vh;
}
body {
		background-color: #006600;
}
#time {
		color: #000000;
		text-shadow: 3px 2px #ffffff;
		font-size: 1500%;
		text-align: center;
}
